@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// PRIMARY COLOUR - STEALBLUE //
$primary_light: #4a91bf; //card-bg-color
$primary: #4682b4; // ribbon, strap, bar, border, heading
$primary_dark: #2b506e; // menu

// SECONDARY COLOURS FOR PARAGRAPHS
$secondary_light: #ffffff; // paragraph
$secondary_dark: #000000; // paragraph
$secondary_gray: #898181; // font colour

// TERTIARY COLOUR
$logo_bg_color: #2b506e; //logo-bg-color SAME AS PRIMARY DARK
$shadow_color: #a8a5a5; // shadow

$font-family: 'Roboto', Arial, Helvetica, sans-serif;
